<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/img/logo.png">
		<link rel="stylesheet" href="/css/style.css">
    <title>{{title}}</title>
</head>
<body>
  <div class="main-content">
{{>header}}
    <img class="portrait" src="https://images.unsplash.com/photo-1632897681576-30d536433008?ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0Mnx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" alt="">
</div>
    {{>footer}}
</body>
</html>